.main {
  width: 90%;
  margin: 0 auto;
  padding-top: 9rem;
  min-height: 100vh;
}

.projects {
  margin: 3vh auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
  align-content: center;
}
